<header class="green big-padding">
    <div class="row">
        <div class="col-md-10 no-float center-block">
            <div class="col-md-12 no-padding inline-block">
                <%= image_tag "logo_wali.png", width:"100" %><span class="black-text middle-text">  WALI</span>
            </div>
            <div class="col-md-6 no-padding inline-block">
                <h1 class="white_text ultra_big"><strong>Hey... Ofrece tus mejores productos digitales</strong></h1> 
            </div>
            <div class="col-md-5 no-padding inline-block">
                <%= image_tag "fondo1.jpg", width:"500", height:"450" %>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-10 col-xs-12 no-float center-block ">
            <%=form_tag(create_email_path, method: :post, remote: true, id: "emails-form") do %>
                <%=email_field_tag "email",nil,class: "col-xs-12 inline-block text-center landing-form", placeholder:"Quieres saber mas noticias...Escribe aqui tu mail" %>
            <% end %>
        </div>
    </div>
</header>

<div>Hola no estas registrado</div>
<p><%=link_to "Inicia Sesion", new_user_session_path%></p>
<p><%=link_to "Crear Cuenta", new_user_session_path%></p>