<header class="green big_padding">
    <div class="row">
        <div class="col-md-10 no_float center-block">
            <div class="col-md-6 no_padding inline_block">
                <%= image_tag "logo_wali.png", width:"100" %><span class="black_text middle_text">  WALI</span>
                <h1 class="white_text ultra_big"><strong>Hey... Ofrece tus mejores productos digitales</strong></h1> 
            </div>
            
            <div class="col-md-5 no_padding inline_block">
                <%= image_tag "fondo1.jpg", width:"500", height:"600" %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 col-xs-12 center-block no-float">
            <%=form_tag("/",method: :post) do %>
                <%=email_field_tag "email",nil,class: "col-xs-12 inline_block text-center landing-form", placeholder:"Escribe aqui tu mail" %>
        </div>
    </div>
</header>

<div>Hola no estas registrado</div>
<p><%=link_to "Inicia Sesion", new_user_session_path%></p>
<p><%=link_to "Crear Cuenta", new_user_session_path%></p>