<div class="col-md-3">
    <nav>
        <div class="white-text green col-md-12">
            Admin general
        </div>
    </nav>
</div>
<div class="col-md-9">
    <div class="card">
        <div class="col-md-9">
            <h1><%= @product.name %></h1>
        </div>
        <div class="col-md-3">
            <p class="big red-text">10 USD</p>
        </div>
        <nav>
            <%= link_to 'Ver como cliente', product_path(id: @product.id , client:true) %>
            <%= link_to 'Editar producto', edit_product_path(@product) %>
            <%= link_to 'Eliminar producto', @product, method: :delete , data:{confirm:"Estas seguro de eliminar producto?"} %>
        </nav>
        <div>
            <h3 class="grey-text">Archivos</h3>
            <ol>
                <% @product.attachments.each do |attachment| %>
                <li class="grey-text other-grey">
                    <div class="col-md-11">
                        <%= link_to attachment.archivo_file_name , attachment %>
                        
                    </div>
                    <div class="col-md-1">
                        <%= link_to attachment , method: :delete , data:{confirm:"Estas seguro de eliminar producto?"} do %>
                        <i class="mdi-action-delete"></i>
                        <% end %>
                    </div> 
                </li>
                <% end %>
            </ol>
            <%= render "attachments/form" , product_id: @product.id %>
        </div>
    </div>
</div>